/*body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs259rQamIdK6zEWgCYqqAFCIxXpBlFxFUHg&usqp=CAU);
    back
    
    background-attachment: fixed;
   
}*/
a{
    color: #1f2327;
    text-decoration: none;
}
  body {
    background-image: url("https://kenh14cdn.com/LJ9BRCA2SwO2i2yoqIMzIMq9QI2QMI/Image/2015/05/cd1-358c5.gif");
     background-size: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
   background-size: cover;
   animation: gradien 10s ease infinite;
  }
.ban{
    position: relative;
    left: 30px;
    text-align: center;
    top:310px;
    padding: 30px;
}
.cuoi p{
    text-align: center;
    position: relative;
    left: 30px;
    top: 300px;
}
body{
    background-color: blanchedalmond;
}
.container{
max-width: 960px;
margin: 0 auto;
padding: 15px;
}
.navbar{
    display:flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2327;
    padding-block: 15px;
    border-radius: 5px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label{
    display: none;
}
@media screen and (max-width: 600px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
      }
      .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
      }
      .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
      }
      #toggler:checked~.menu{
        max-height: 100%;
      }
}
header{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.mu li {
    text-align: center;
    position: relative;
    padding: 10px 30px ;
    top:20px;
    border-color: #1f2327;
    box-sizing: 2px 0 0 0;
}
.mu li :hover{
    background-color: lightgray ;
    box-shadow: 0 0 0 1px;
    border: 3px solid rgb(171, 98, 224);
}
